h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 60pt;
  font-weight: 900;
  padding-top: 0.15em;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40pt;
  font-weight: 900;
  padding-top: 0.15em;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 20pt;
  font-weight: 300;
}

p {
  font-size: 14pt;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.main-div {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.parks-and-rec-logo {
  height: 85px;
  width: auto;
  padding-bottom: 20px;
}

.homepage-bg {
  background-color: rgb(235, 235, 235);
}

.main-content-parent {
  position: relative;
  height: 100%;
  width: 100%;
}

.quote-main-bkg {
  background-color: rgb(247, 247, 247);
  height: auto;
  border-radius: 30px;
  padding: 1.2 rem;
}

.ron-img {
  z-index: 2;
  height: 30rem;
  width: auto;
  margin-left: -50px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
