.col- {
  border: black;
}

.homepage-bg {
  background-color: rgb(235, 235, 235);
}

.quote-main-bkg {
  background-color: rgb(247, 247, 247);
  z-index: 1;
}

.fav-btn {
  background-color: rgb(187, 187, 187);
}
p {
  font-size: 1.3em;
}

.fav-quotes-container {
  margin-top: 100px;
  height: auto;
}

.fav-quotes-row {
  padding-bottom: 100px;
}

.quote-bk {
  background-image: url(/img/259-2595788_ron-swanson-hd-png-download\ copy.png);
  background-repeat: no-repeat;
  transform: scale(0.75);
  display: relative;
  left: 0;
  bottom: 0;
}

.ron-img {
  z-index: 2;
  height: auto;
  width: auto;
  /* margin-left: 100px; */
  position: relative;
}
/* .my-custom-row {
  background-color: blanchedalmond;
  height: 400px;
} */

/* .container-about-me {
  background-color: rgb(204, 204, 204);
} */

/* These are the KEY styles - you can add them directly to any object you want in your project */
/* .fancy-border-radius {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

  /* These are ADDITIONAL styles - add them if you want an object exactly like in the demo above */
/* width: 400px;
  height: 400px;
  background: #ad5389;
  background: -webkit-linear-gradient(to right, #cfac11, #c55431);
  background: linear-gradient(to right, #cfac11, #c55431);
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  padding-right: 20px;
} */

/* .hd-gr {
  text-transform: uppercase;
  background: linear-gradient(to left, #cfac11 0%, #c55431 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
} */

/* .jumbotron {
  background: url("/img/pexels-daniel-frese-2984224.jpeg") no-repeat center center;
  background-size: cover;
  height: 800px;
}

.about-div {
  height: 80vh;
}

.about-div-2 {
  margin-left: 10px;
}

.nav-link:hover {
  color: rgb(23, 53, 88);
  border-bottom: 1px solid rgb(23, 53, 88);
} */
